<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-12">
            <label class="app-set-label">Name</label>
            <input class="form-control" type="text" value="" placeholder="Enter Category" aria-label=" input example"
                [(ngModel)]="adminService.currentCategory.categoryName">
        </div>
        <div class="col-lg-5">
            <label class="app-set-label">Image</label>
            <div class="mb-3">
                <input class="form-control" type="file" id="formFile"
                    [(ngModel)]="adminService.currentCategory.uploadedFileUrl">
            </div>
            <p class="img-note-text"><span>Note:</span>Image Size must be less than 2MB.Image Height and Width less than
                1000px.</p>
        </div>
        <div class="col-lg-2">
            <div class="img-box">
                <!-- <img src="../../../../assets/images/no-image.png"> -->
                <!-- <input class="form-control" type="jpg" id="formFile" [(ngModel)]="adminService.currentCategory.CategoryLogo"> -->
                <mat-grid-list cols="1">
                    <mat-grid-tile *ngFor="let file of currentCategory.CategoryLogo">
                        <div style="position: relative">
                            <img [src]="file.url" width="100%" height="100%">
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="close()">CLOSE</button>
    <button mat-raised-button color="primary" (click)="addCategory()">SAVE</button>
</div>