<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="left-section">
                <div class="img-box">
                    <img src="../../assets/images/DADU_app_icon-removebg-preview.png">
                </div>
                <!-- <div class="content-box">
                    <p>Some content will come here</p>
                </div> -->
            </div>
        </div>
        <div class="col-lg-5">
            <div class="right-section">
                <div class="header">
                    <h1>LOGIN</h1>
                </div>
                <div class="sub-heading">
                    <p>Welcome back,
                        Please sign in to your account.</p>
                </div>
                <div class="form-section">
                    <form class="col-lg-8" [formGroup]="loginForm" (ngSubmit)="adminLogin()">

                        <mat-form-field appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="enter your User Name" value="" formControlName="emailId"
                                [(ngModel)]="currentUser.emailId">
                            <mat-error
                                *ngIf="loginForm.get('emailId')?.invalid && (loginForm.get('emailId')?.dirty || loginForm.get('emailId')?.touched)">
                                User Name is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="enter your Password"
                                [(ngModel)]="currentUser.password" value="" formControlName="password">
                            <mat-error
                                *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                                Password is required
                            </mat-error>
                        </mat-form-field>

                        <button class="login-button">
                            LOGIN
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>